USE [master]
GO
/****** Object:  Database [QuanLyBanLaptop]    Script Date: 29/09/2025 8:57:01 CH ******/
CREATE DATABASE [QuanLyBanLaptop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBanLaptop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyBanLaptop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyBanLaptop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyBanLaptop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanLaptop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanLaptop]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 29/09/2025 8:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDH] [varchar](20) NOT NULL,
	[MaSP] [varchar](20) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 29/09/2025 8:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaPN] [varchar](20) NOT NULL,
	[MaSP] [varchar](20) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 29/09/2025 8:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [varchar](20) NOT NULL,
	[MaKH] [varchar](20) NULL,
	[MaNV] [varchar](20) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 29/09/2025 8:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](20) NOT NULL,
	[TenKH] [nvarchar](255) NOT NULL,
	[DienThoai] [varchar](15) NULL,
	[Email] [varchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 29/09/2025 8:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLoaiSP] [varchar](20) NOT NULL,
	[TenLoaiSP] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 29/09/2025 8:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](20) NOT NULL,
	[TenNCC] [nvarchar](255) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 29/09/2025 8:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](20) NOT NULL,
	[TenNV] [nvarchar](255) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 29/09/2025 8:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [varchar](20) NOT NULL,
	[MaNCC] [varchar](20) NOT NULL,
	[MaNV] [varchar](20) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 29/09/2025 8:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [varchar](20) NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 29/09/2025 8:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](20) NOT NULL,
	[TenSP] [nvarchar](255) NOT NULL,
	[MaNCC] [varchar](20) NOT NULL,
	[MaLoaiSP] [varchar](20) NOT NULL,
	[CPU] [nvarchar](100) NULL,
	[Ram] [nvarchar](50) NULL,
	[OCung] [nvarchar](50) NULL,
	[CardManHinh] [nvarchar](100) NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[HinhAnh] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 29/09/2025 8:57:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [varchar](20) NOT NULL,
	[MaNV] [varchar](20) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[MaQuyen] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (N'DH001', N'SP001', 1, CAST(35000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (N'DH002', N'SP002', 1, CAST(28000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaSP], [SoLuong], [GiaNhap]) VALUES (N'PN001', N'SP001', 2, CAST(30000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaSP], [SoLuong], [GiaNhap]) VALUES (N'PN002', N'SP002', 1, CAST(20000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaSP], [SoLuong], [GiaNhap]) VALUES (N'PN002', N'SP004', 1, CAST(10000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [MaNV], [NgayLap], [TongTien], [TrangThai]) VALUES (N'DH001', N'KH001', N'NV003', CAST(N'2025-09-27T20:33:37.083' AS DateTime), CAST(35000000.00 AS Decimal(18, 2)), N'Đã thanh toán')
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [MaNV], [NgayLap], [TongTien], [TrangThai]) VALUES (N'DH002', N'KH002', N'NV003', CAST(N'2025-09-27T20:33:37.083' AS DateTime), CAST(28000000.00 AS Decimal(18, 2)), N'Đã thanh toán')
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DienThoai], [Email], [DiaChi]) VALUES (N'KH001', N'Nguyễn Văn A', N'0901112233', N'nguyenvana@gmail.com', N'101 Nguyễn Văn Cừ, Quận 5')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DienThoai], [Email], [DiaChi]) VALUES (N'KH002', N'Trần Thị B', N'0988776655', N'tranthib@yahoo.com', N'202 Lê Lợi, Quận 1')
GO
INSERT [dbo].[LoaiSP] ([MaLoaiSP], [TenLoaiSP]) VALUES (N'LTCANHAN', N'Laptop Cá nhân')
INSERT [dbo].[LoaiSP] ([MaLoaiSP], [TenLoaiSP]) VALUES (N'LTDOHOA', N'Laptop Đồ họa')
INSERT [dbo].[LoaiSP] ([MaLoaiSP], [TenLoaiSP]) VALUES (N'LTGAMING', N'Laptop Gaming')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NC001', N'Công ty TNHH Laptop An Phát', N'123 Lê Duẩn, TP.HCM', N'0901234567')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NC002', N'Nhà phân phối Hoàng Long', N'456 Trần Hưng Đạo, Hà Nội', N'0987654321')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NC003', N'Đại lý Laptop FPT', N'789 Nguyễn Trãi, Đà Nẵng', N'0912345678')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [DiaChi], [DienThoai]) VALUES (N'MV004', N'admin', N'HCM', N'0946094977')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [DiaChi], [DienThoai]) VALUES (N'NV001', N'Mai Thị D', N'404 Võ Văn Tần, Quận 3', N'0909998877')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [DiaChi], [DienThoai]) VALUES (N'NV002', N'Phạm Văn E', N'505 Lý Thường Kiệt, Quận 10', N'0977665544')
GO
INSERT [dbo].[PhieuNhap] ([MaPN], [MaNCC], [MaNV], [NgayNhap], [TongTien]) VALUES (N'PN001', N'NC001', N'NV002', CAST(N'2025-09-27T20:33:37.097' AS DateTime), CAST(60000000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuNhap] ([MaPN], [MaNCC], [MaNV], [NgayNhap], [TongTien]) VALUES (N'PN002', N'NC002', N'NV002', CAST(N'2025-09-27T20:33:37.097' AS DateTime), CAST(30000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'ADMIN', N'Quản trị viên')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'MANAGER', N'Quản lý')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'STAFF', N'Nhân viên bán hàng')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaNCC], [MaLoaiSP], [CPU], [Ram], [OCung], [CardManHinh], [GiaBan], [SoLuongTon], [HinhAnh]) VALUES (N'SP001', N'ASUS ROG Strix G15', N'NC001', N'LTGAMING', N'Intel Core i7', N'16GB', N'512GB SSD', N'NVIDIA RTX 3060', CAST(35000000.00 AS Decimal(18, 2)), 15, N'asus_g15.jpg')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaNCC], [MaLoaiSP], [CPU], [Ram], [OCung], [CardManHinh], [GiaBan], [SoLuongTon], [HinhAnh]) VALUES (N'SP002', N'Dell XPS 13', N'NC002', N'LTOFFICE', N'Intel Core i5', N'8GB', N'256GB SSD', N'Intel Iris Xe Graphics', CAST(28000000.00 AS Decimal(18, 2)), 20, N'dell_xps13.jpg')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaNCC], [MaLoaiSP], [CPU], [Ram], [OCung], [CardManHinh], [GiaBan], [SoLuongTon], [HinhAnh]) VALUES (N'SP003', N'MacBook Pro M1', N'NC003', N'LTDOHOA', N'Apple M1', N'16GB', N'512GB SSD', N'Apple M1 GPU', CAST(45000000.00 AS Decimal(18, 2)), 10, N'macbook_pro.jpg')
GO
INSERT [dbo].[TaiKhoan] ([MaTK], [MaNV], [TenDangNhap], [MatKhau], [MaQuyen]) VALUES (N'TK001', N'NV001', N'ttien82', N'$2a$10$FPaQWKY1YfoEZhWYmMxIHuMK3hbXxAfT0P.tF7h1MEfoH1Kh9.pm6', N'ADMIN')
INSERT [dbo].[TaiKhoan] ([MaTK], [MaNV], [TenDangNhap], [MatKhau], [MaQuyen]) VALUES (N'TK002', N'NV002', N'phame', N'matkhau456', N'MANAGER')
INSERT [dbo].[TaiKhoan] ([MaTK], [MaNV], [TenDangNhap], [MatKhau], [MaQuyen]) VALUES (N'TK003', N'NV003', N'dof', N'matkhau789', N'STAFF')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__2725D70BB73789A3]    Script Date: 29/09/2025 8:57:01 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC050657CC6]    Script Date: 29/09/2025 8:57:01 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LoaiSP] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [CHK_DonGiaBan] CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [CHK_DonGiaBan]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [CHK_SoLuongBan] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [CHK_SoLuongBan]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [CHK_GiaNhap] CHECK  (([GiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [CHK_GiaNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [CHK_SoLuongNhap] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [CHK_SoLuongNhap]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [CHK_TongTienDH] CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [CHK_TongTienDH]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [CHK_TongTienPN] CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [CHK_TongTienPN]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CHK_GiaBan] CHECK  (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CHK_GiaBan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CHK_SoLuongTon] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CHK_SoLuongTon]
GO
USE [master]
GO
